version: 2.1
orbs:
  node: circleci/node@5.1.0
  browser-tools: circleci/browser-tools@1.4.6
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: cimg/node:lts-browsers

    working_directory: ~/repo

    steps:
      - checkout
      - browser-tools/install-browser-tools

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Install dependencies
          command: npm i

      - run:
          name: Install `jest-junit` coverage reporter
          command: npm i --no-save jest-junit

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # catch build-time errors (if any)
      - run: npm run build

      - store_artifacts:
          path: ./dist/v-mask.min.js
          destination: v-mask.min.js

      - run:
          name: Run code-style check
          command: npm run lint -- --format junit -o /tmp/test-results/code-style-test-results.xml

      - run:
          name: Run unit-tests
          command: npm run test:coverage -- --ci --runInBand --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT: "/tmp/test-results/unit-test-results.xml"

      - run:
          name: Run E2E tests
          command: npm run test:e2e:ci -- -r xunit:/tmp/test-results/e2e-test-results.xml

      - store_test_results:
           path: /tmp/test-results
