body, html{
  height: 100%;
  min-height: 100%;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.h-100{
  height: 100%;
}
section.header{
  margin-bottom: 4rem;
  text-align: center;
}
section.footer{
  margin-top: 3.5rem;
  text-align: center;
}

section.special-examples{
  margin-top: 4rem;
}
section.special-examples h4{
  text-align: center;
}
